/* Esto activa el "motor" de imán del navegador para que Lenis lo use */
html {
  scroll-snap-type: y mandatory;
}

[data-lenis-snap-align="start"] {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

/* Ocultamos la barra para que el efecto sea total */
::-webkit-scrollbar {
  display: none;
}