/* Enable the browser's snap engine for Lenis to use */
html {
  scroll-snap-type: y mandatory;
}

[data-lenis-snap-align="start"] {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

/* Hide scrollbar for a seamless experience */
::-webkit-scrollbar {
  display: none;
}