@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f6f3;
  font-family: "Helvetica Now Display", "Helvetica Now Text", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}
html, body {
  overflow-x: hidden;
}

